In [6]:
import pandas as pd
import numpy as np

try:
    df_dirty = pd.read_csv('dirty_dataset.csv', encoding='latin-1')
except UnicodeDecodeError:
    # Fallback to Shift-JIS if Latin-1 fails (common for Japanese data)
    df_dirty = pd.read_csv('dirty_dataset.csv', encoding='shift-jis')

df_dirty.head()

,Rank_,Name_,platform!!!!!!!!!!!,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,8316,Hunter: The Reckoning Redeemer,XB,2003.0,Action,Interplay,0.13,¥0.04,0.00,0.01,0.17
1,13417,Garou Densetsu 3: Road to the Final Victory,SAT,1996.0,Fighting,SNK,0.00,¥0.00,0.05,0.00,0.05
2,15755,Zero no Tsukaima: Muma ga Tsumugu Yokaze no No...,PS2,2007.0,Adventure,Marvelous Interactive,0.00,¥0.00,0.02,0.00,0.02
3,8684,MX 2002 Featuring Ricky Carmichael,GBA,2001.0,Racing,THQ,0.11,¥0.04,0.00,0.00,0.16
4,14586,Battle vs. Chess,PC,NaN,Misc,TopWare Interactive,0.00,0.02,0.00,0.01,0.03